@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&family=Roboto:wght@400;700&display=swap");

:root {
  --yellow-dark: #c47f17;
  --yellow: #dbac2c;
  --yellow-light: #f1e9c9;

  --purple-dark: #4b2995;
  --purple: #8047f8;
  --purple-light: #ebe5f9;

  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574f4d;
  --base-label: #8d8686;
  --base-input: #ededed;
  --base-card: #f3f2f2;
  --background: #fafafa;
  --white: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--base-text);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo 2", cursive;
  color: var(--base-title);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #dbac2c 0%, #8047f8 100%);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #c47f17 0%, #4b2995 100%);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--purple-dark) !important;
  border: none !important;
}

.btn-warning {
  background-color: var(--yellow) !important;
  color: white !important;
  border: none !important;
}

section.hero_sec {
  background-image: url(/images/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 650px; */
  display: flex;
  align-items: center;
  margin: 61px 0 0px 0;
  padding: 50px 10px 50px 10px;
}

.iconWrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
#addressForm input.form-control {
  background-color: #f3f2f2 !important;
  height: 42px;
  /* border-color: var(--base-input); */
  border-radius: 4px;
}
#addressForm input.form-control:focus {
  box-shadow: none;
  border-color: var(--base-input);
}
a {
  text-decoration: none;
}
